.container {
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    height: 100%;
    flex-direction: row;
}

.container_middle {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.container_bottom {
    display: flex;
    justify-content: center;
    width: 100%;
}

.upper {
    /* background-color: green;            */
    background-color: #00989d;
    width: 100%;
    height: 10rem;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    justify-content: space-around;
    /* align-content: space-between; */
}


.middle_top {
    /* background-color: coral; */
    background-color: #00989d;
    width: 100%;
    height: 10rem;
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.middle_bottom {
    /* background-color: yellowgreen; */
    background-color: #00989d;
    width: 100%;
    height: 10rem;
    /* margin-bottom: 10px; */
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}


.lowest {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-content: space-between;
    /* margin: 0 0 0 0; */
}

.to_top {
    display: flex;
    flex-direction: column;
    /* align-content: space-around; */
    margin: 0 0 0 2rem;

}

.line {
    height: 1.0rem;
    /* background: #00989d; */
    background: #c9e265;
}